* {
    margin: 0;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 62.5%;
}

.login {
    display: block;
    text-align: center;
}

.login__title{
    font-style: normal;
    font-size: 2rem;
    line-height: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.login__acc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.login__acc input {
    font-size: 1.5rem;
    line-height: 24px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
    height: 3rem;
    width: 35rem;
    background: #D9D9D9;
    border: none;
}

input.login__btn {
    width: 183px;
    background: #FF6D03;
    line-height: 5px;
    border-radius: 30px;
    margin-bottom: 50px;
    border: none;
    padding: 1rem;
    color: var(--white-color);
    cursor: pointer;
}

.login__option {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.login__option p,
.login__option a{
    font-size: 20px;
}

.login__keep {
    display: flex;
}

.login__keep p {
    margin-left: 10px;
    margin-right: 8rem;
}

.login__option a {
    margin-left: 8rem;
    color: #FF6D03;
}